<h1><%= @user.name %>のページ</h1>

<div class = "icon_user ">
  <p><%= image_tag @user.icon.url %></p>
</div>

<p>メールアドレス: <%= @user.email %></p>

<%= link_to 'ユーザー情報編集', edit_user_path(@user.id), class: "btn_back btn btn-info" %>

<%= link_to "ホームに戻る", posts_path, class: "btn_back btn btn-info" %>