<h2>投稿確認画面</h2>
<div>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>
  
  <p>内容：<%= @post.content %></p>
  <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "登録する" %>

  <%= form_with(model:@post, url:new_post_path, local:true, method:"get") do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "戻る", name: 'back' %>
  <% end %>
<% end %>
</div>