<h2>post_ホーム画面</h2>
<div>
  <%= link_to '新規投稿', new_post_path %>
  <% @posts.each do |post| %>
  <table>
    <tr>
      <td><%= image_tag(post.user.icon.url) %></td>
      <td><%= post.user.name %></td>
      <td><%= post.content %></td>
      <% if post.image.url %>
        <td><%= image_tag post.image.url %></td>
      <% end %>
      <td><%= link_to '詳細', post_path(post.id) %></td>
      <td><%= link_to '編集', edit_post_path(post.id) %></td>
      <td><%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
    </tr>
  </table>
  <% end %>
<div>